/* Ticker.css */

.ticker-container {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.ticker-content {
  display: flex;
}

.ticker-block {
  flex: 0 0 calc(100% / var(--visible-blocks));
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  transition: flex-basis 0.5s ease-in-out;
  /* Add any additional styles */
}

.ticker-block h3 {
  margin: 0;
  font-size: 1.2em;
}

.ticker-block p {
  margin: 5px 0;
}

/* Ticker.css */
.live-status {
  color: red;
  font-weight: bold;
}

/* Ticker.css */
.team-logos {
  display: flex;
  align-items: center;
}

.team-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 10px;
}
