/* Ticker.css */
.ticker-wrapper {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
}

.ticker {
  display: flex;
  width: max-content;
  will-change: transform;
}

.ticker-item {
  flex: 0 0 auto;
  padding: 10px 20px;
  background: #0074D9;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
}
