@import url("./catppuccin-variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); /* Poppins font */

/* Base body theming */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--crust);
  color: var(--text);
  transition: color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}

.ticker-container {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: var(--base);
  transition: color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}

.ticker-content {
  display: flex;
  will-change: transform; /* Enable hardware acceleration for smooth animations */
}

.ticker-block {
  flex: 0 0 calc(100% / var(--visible-blocks));
  box-sizing: border-box;
  text-align: center;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker-block-wrapper {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface0);
  border-radius: 6px;
  box-shadow: 0 0 10px 0 var(--shadow-medium);
}

.team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.team-logo {
  flex-shrink: 1; /* Ensure the logo can shrink */
  max-width: 20%; /* Prevent the logo from becoming too large */
  height: auto;
  object-fit: contain;
}

.team-score {
  font-size: calc(1vw + 1em); /* Responsive font size */
  font-weight: bold;
  margin: 0 10px;
}

.block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
}

.small-text {
  font-size: calc(0.5vw + 0.5em); /* Ensure text scales with block size */
  margin: 0.2em 0;
}

.live-status {
  color: red;
  font-weight: bold;
}

/* Theme Toggle Button */
.theme-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--text);
  font-size: 24px;
  line-height: 24px;
  transition: all var(--transition-duration) ease;
  width: 24px;
  height: 24px;
  margin-top: 5px;
}


.theme-toggle:hover i {
  transform: scale(1.1);
}

.theme-toggle:active i {
  transform: scale(1.4);
}